.App {
  // text-align: center;
  // background-image: url("https://picsum.photos/200/300");
  // background-position: center;
  // background-size: contain;
  // width: 100%;
  height: 120vh;
  // background-color: #282c34;
  // color: white;
}

.dark {
  background-color: #282c34;
  color: white;
}

.light {
  background-color: white;
  color: #282c34;
}

.toggle-btn {
  background-color: transparent;
  border: 0px;
}

.App-header {
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  &__title {
    text-align: center;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 

  &__input {
    text-align: center;
    margin-bottom: 1rem;
    height: 1.5rem;
    width: 10rem;
  }

  &__button {
    // margin: 1rem;
    background-color: #61dafb;
    border-radius: 4px;
    height: 2rem;
    width: 6rem;
  }
}

.output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}