.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  font-size: 1.2rem;
  line-height: 0rem;
  font-weight: 600;

  &__inputs-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
  }
}

.city {
  height: 50vh;
  width: 90%;
}

.dark {
  background-color: #282c34;
  color: white;
  height: 100vh;
}

.light {
  background-color: white;
  color: #282c34;
  height: 100vh;
}

.toggle-btn {
  background-color: transparent;
  border: 0px;
  margin: 1.2rem;
}

// .App-header {
//   // min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);

//   &__title {
//     text-align: center;
//   }
// }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;

  &__input {
    padding-left: 15px;
    height: 1.5rem;
    width: 20rem;
    border-radius: 20px;
  }

  &__button {
    margin: 1rem;
    background-color: #f8e325;
    border-radius: 4px;
    height: 2rem;
    width: 6rem;
    border: none;
  }
}

.output {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__container1 {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-left: 5rem;
  }

  &__city-title {
    font-size: 2rem;
    color: rgb(66, 131, 66);
  }

  &__city-details {
    padding-left: 5rem;
  }

  &__city-temp {
    font-size: 3rem;
    color: rgb(66, 131, 66);
  }

  &__city-temp-icon {
    height: 125px;
    width: 125px;
  }

  &__container2 {
    display: flex;
    width: 50%;
    padding-left: 3rem;
  }

  &__container3 {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-left: 2rem;
  }
}

.forecast-container {
  width: 100%;
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.forecast {
  display: flex;

  &__container1 {
    border: 1px solid black;
    width: fit-content;
    padding: 0.5rem;
    margin: 2rem 0rem 2rem 5rem;
    // margin-left: 5rem;
  }
}